.Alert {
  width: 100%;
}

.Alert-alert {
  height: 50px;
  width: 100%;
  margin: 15px 0;
  padding: 15px 15px 0;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
