@font-face {
  font-family: 'PKMNRBYGSC';
  src: url('../../font/PKMNRBYGSC.ttf') format('truetype');
}

.Landing {
  height: 100%;
  width: 100%;
  background-image: url(../../img/Landing2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Landing::after {
  content: 'Open the POKéBALL to unlock your very own POKéMON legend!';
  position: absolute;
  bottom: 10%;
  border: 3px solid #3b4cca;
  width: 75%;
  max-width: 500px;
  padding: 15px 30px;
  border-radius: 20px;
  background-color: white;
  font-family: 'PKMNRBYGSC';
  font-size: 0.7rem;
  letter-spacing: 3px;
  line-height: 1.1rem;
}

.Landing-button::before {
  position: absolute;
  content: '';

  height: 50px;
  width: 50px;
  background-color: transparent;
  border-radius: 50%;

  bottom: calc(50% - 25px);
  left: calc(50% - 25px);
  transition: ease-in-out background-color 0.2s;
  z-index: 10;
}

.Landing-button:hover::before {
  background-color: #bd3736;
  cursor: pointer;
}

@media only screen and (min-width: 850px) {
  .Landing {
    background-size: initial;
  }

  .Landing-button::before {
    height: 70px;
    width: 70px;
    bottom: calc(50% - 35px);
    left: calc(50% - 35px);
  }

  .Landing::after {
    bottom: 6.5%;
  }
}
