.Navbar {
  height: 64px;
  width: 100%;
  background-color: #bd3736;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.Navbar-logo {
  margin-left: 5%;
}

.Navbar-logo img {
  max-width: 160px;
}

.Navbar-icons {
  margin-right: 5%;
  display: flex;
  justify-content: flex-end;
}

.Navbar-links {
  position: absolute;
  height: 100vh;
  width: 75%;
  background-color: #bd3736;
  margin: 0;
  padding: 0;
  top: 0;
  transform: translateX(7.5%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* visibility: visible;
  transition: 500ms ease-in-out;
  transition-property: visibility, transform; */
}

.Navbar-links.close {
  /* visibility: hidden; */
  display: none;
  transform: translateX(107.5%);
}

.Navbar-links li {
  width: 80%;
  list-style-type: none;
}

.Navbar-links div {
  color: white;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.Navbar-links li a {
  text-decoration: none;
  color: white;
  display: block;
  width: 100%;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.Navbar-links li:first-child {
  margin-top: 20vh;
}

.Navbar-links li:last-child {
  margin-bottom: 40vh;
}

.Navbar-burger {
  margin-left: 10px;
  cursor: pointer;
}

.Navbar-burger .fa.fa-close {
  position: absolute;
  top: 28%;
  right: 5%;
  color: white;
  z-index: 11;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 1.8rem;
  text-align: center;
  /* visibility: visible;
  transform: rotate(0deg);
  transition: 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-property: transform, visibility; */
}

.Navbar-burger .fa.fa-close.close {
  /* visibility: hidden; */
  display: none;
}

/* .Navbar-burger .fa.fa-close:hover {
  transform: rotate(360deg);
} */

.Navbar-burgerIcon {
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Navbar-burgerIcon div {
  width: 100%;
  border-bottom: 3px solid white;
}

.Navbar-form .icon {
  width: 30px;
  height: 30px;
  color: white;
  font-size: 1.5rem;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.Navbar-form .fa.fa-close.icon {
  position: absolute;
  top: 28%;
  right: 5%;
  color: white;
  z-index: 12;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 1.8rem;
  text-align: center;
  /* visibility: visible;
  transform: rotate(0deg);
  transition: 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-property: transform, visibility; */
}

.Navbar-form .fa.fa-close.icon.close {
  /* visibility: hidden; */
  display: none;
}

/* .Navbar-form .fa.fa-close.icon:hover {
  transform: rotate(360deg);
} */

.Navbar-formInput {
  position: absolute;
  transform: translateY(-2.7%);
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #bd3736;
  display: flex;
  justify-content: center;
  align-items: center;
  /* visibility: visible;
  transition: 500ms ease-in-out;
  transition-property: visibility, transform; */
}

.Navbar-formInput.close {
  /* visibility: hidden; */
  display: none;
  transform: translateY(-105%);
}

.Navbar-formInput form {
  width: 80%;
  height: 5%;
  position: relative;
}

.Navbar-formInput form input {
  width: 100%;
  border: 2px solid rgb(255, 122, 122);
  height: 100%;
  border-radius: 10px;
  padding-left: 5%;
  padding-right: 15%;
  background-color: #bd3736;
  color: white;
}

.Navbar-formInput form input::placeholder {
  font-family: 'Fira Sans', sans-serif;
  color: rgba(255, 255, 255, 0.3);
}

.Navbar-formInput form input:focus {
  outline: none;
}

.Navbar-formInput form button {
  border: none;
  background-color: transparent;
  color: rgb(255, 122, 122);
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 0;
  right: 2%;
  cursor: pointer;
}

@media only screen and (min-width: 950px) {
  .Navbar-icons {
    width: 70%;
  }

  .Navbar-links {
    display: flex;
    position: initial;
    visibility: visible;
    transform: initial;
    height: initial;
    width: initial;
    width: 50%;
    max-width: 320px;
    flex-direction: row;
    justify-content: flex-end;
    transition: unset;
  }

  .Navbar-links.close {
    display: flex;
    position: initial;
    visibility: visible;
    transform: initial;
    height: initial;
    width: initial;
    width: 50%;
    max-width: 320px;
    flex-direction: row;
    justify-content: flex-end;
    transition: unset;
  }

  .Navbar-links > li {
    margin: 0;
    margin-left: 3%;
    width: unset;
  }

  .Navbar-links li:first-child {
    margin: 0;
    margin-left: 3%;
  }

  .Navbar-links li:last-child {
    margin: 0;
    margin-left: 3%;
  }

  .Navbar-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
  }

  .Navbar-form .fa.fa-close.icon {
    display: none;
  }

  .Navbar-formInput {
    display: flex;
    visibility: unset;
    transform: unset;
    height: unset;
    width: 100%;
    position: initial;
    transition: unset;
    justify-content: flex-end;
  }

  .Navbar-formInput.close {
    display: flex;
    visibility: unset;
    transform: unset;
    height: unset;
    width: 100%;
    position: initial;
    transition: unset;
    justify-content: flex-end;
  }

  .Navbar-formInput form {
    width: 80%;
    height: 30px;
  }

  .Navbar-burger {
    display: none;
  }

  .fa.fa-close.close {
    display: none;
  }

  .fas.fa-search.icon {
    display: none;
  }
}
