.Trainer {
  padding-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Trainer > .buttons {
  align-self: center;
}

.Trainer > .Trainer-alert {
  width: 90%;
  margin: 0 auto;
}

.buttons.button-delete {
  font-size: 0.6rem;
  margin-bottom: 0;
  padding: 8px 24px;
  border-radius: 8px;
}

.Trainer-card {
  width: 90%;
  height: 100%;
  margin: 0 auto 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.TrainerMain {
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.TrainerMain > h4 {
  margin-bottom: 10%;
}

.TrainerMain > div {
  text-align: center;
  width: 100%;
}

.TrainerMain div h4,
.TrainerMain div p {
  font-size: 0.9rem;
}

.TrainerMain div p {
  margin: 3% 0;
}

.Trainer-cardTitle {
  text-transform: capitalize;
}

.Trainer-card > p {
  font-size: 0.8rem;
  text-align: center;
  margin: 50px auto 0;
}

.Trainer-card > p a:hover {
  color: #bd3736;
  text-decoration: underline;
}

.Trainer-pokemonGroup {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(auto, 100%);
  grid-gap: 25px;
  justify-items: center;
}

.Trainer-pokemonGroup a {
  width: 100%;
  height: 100%;
  max-width: 350px;
}

.TrainerPokemon {
  width: 100%;
  height: 100%;
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.TrainerPokemon-img {
  width: 37.5%;
  max-width: 125px;
  margin-bottom: 3%;
}

.TrainerPokemon-info {
  width: 57.5%;
  margin: auto 0 3%;
  display: flex;
  flex-direction: column;
}

.TrainerPokemon-info > div {
  margin-bottom: 5%;
}

.TrainerPokemon-info h4 {
  font-size: 0.9rem;
  text-transform: capitalize;
}

.TrainerPokemon-info p {
  font-size: 0.7rem;
  margin-bottom: 1%;
}

.TrainerPokemon-info .TrainerPokemon-infoTypes {
  display: flex;
  justify-content: space-between;
}

.TrainerPokemon-info .TrainerPokemon-infoTypes div {
  margin: 0;
  padding: 2% 6%;
  width: 100%;
  max-width: 50%;
  font-size: 0.7rem;
}

.TrainerPokemon-info .TrainerPokemon-infoTypes div + div {
  margin-left: 3px;
}

.TrainerPokemon-delete {
  position: absolute;
  top: 0;
  right: 0;
}

.TrainerPokemon-infoPL {
  width: 100%;
}

.TrainerPokemon-infoPL p {
  font-size: 0.7rem;
  margin-bottom: 3%;
}

.TrainerPokemonPowerLevel {
  height: 30px;
  width: 100%;
  position: relative;
}

@media only screen and (min-width: 415px) {
  .Trainer > .buttons {
    margin: 20px 0;
  }
}

@media only screen and (min-width: 700px) {
  .Trainer > .buttons {
    margin: 20px 10%;
  }

  .Trainer-pokemonGroup {
    grid-template-columns: repeat(2, 50%);
  }

  .TrainerMain {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    text-align: center;
  }

  .TrainerMain > h4 {
    width: 100%;
    margin-bottom: 30px;
  }

  .TrainerMain > div {
    width: 30%;
  }

  .TrainerMain > .buttons.button-delete {
    margin-top: 30px;
  }

  .Trainer-card > p {
    margin: 100px auto 0;
  }
}
