body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 1.2px;
}
/* 
a {
  text-decoration: none;
  color: black;
} */

/* .buttons {
  margin-right: 1vw;
  font-weight: 600;
  padding: 2px 5px;
  width: 100px;
  background: #dbdbdb;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  transition: ease-in-out opacity 0.2s;
  cursor: pointer;
}

.buttons:last-child {
  margin-right: 0;
}

.buttons:hover {
  opacity: 0.5;
} */

/* .type-primary {
  background: #007bff;
}

.type-danger {
  background: #dc3545;
}

.type-success {
  background: #28a745;
}

.type-warning {
  background: #ffc107;
}

.type-info {
  background: #17a2b8;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
} */

/* .types {
  margin-left: 1vw;
  font-weight: 600;
  width: 120px;
  padding: 3px 0;
  background: #dbdbdb;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  cursor: default;
} */

.type-normal {
  background-color: #aa9;
}

.type-fire {
  background-color: #f42;
}

.type-water {
  background-color: #39f;
}

.type-electric {
  background-color: #fc3;
}

.type-grass {
  background-color: #7c5;
}

.type-ice {
  background-color: #6cf;
}

.type-fighting {
  background-color: #b54;
}

.type-poison {
  background-color: #a59;
}

.type-ground {
  background-color: #db5;
}

.type-flying {
  background-color: #89f;
}

.type-psychic {
  background-color: #f59;
}

.type-bug {
  background-color: #ab2;
}

.type-rock {
  background-color: #ba6;
}

.type-ghost {
  background-color: #66b;
}

.type-dragon {
  background-color: #76e;
}

.type-dark {
  background-color: #754;
}

.type-steel {
  background-color: #aab;
}

.type-fairy {
  background-color: #e9e;
}

/* .Navbar {
  display: flex;
  justify-content: space-between;
  background-color: #bd3736;
  height: 10vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;
}

.Navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: normal;
  margin-left: 5vw;
}

.Navbar-logo a {
  color: white;
}

.Navbar-form {
  margin-right: 1vw;
  width: 230px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding-left: 5px;
}

.Navbar-form::placeholder {
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: 1.2px;
}

.Navbar-linksdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 5vw;
}

.Navbar-myTeam {
  position: relative;
}

.Navbar-myTeamSpan {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  background-color: #007bff;
  opacity: 1;
  z-index: 50;
  bottom: 7.5px;
} */

.Landing {
  height: 100vh;
  background-image: url(../img/Landing2.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.Landing-button::before {
  position: absolute;
  content: '';
  height: 70px;
  width: 70px;
  background-color: transparent;
  border-radius: 50%;
  bottom: calc(50% - 35px);
  left: calc(50% - 35px);
  transition: ease-in-out background-color 0.2s;
  z-index: 10;
}

.Landing-button:hover::before {
  background-color: #bd3736;
  cursor: pointer;
}

.Pokedex {
  width: 90vw;
  margin: 0 5vw;
  padding-top: 10vh;
  position: relative;
  z-index: -1;
}

.Pokedex-Grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5vh 0.5vw;
  width: 100%;
  height: 100%;
}

.PokedexItem-item {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url(../img/Pokeball3.png);
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: 120px;
  border-radius: 10px;
}

.PokedexItem-img {
  -webkit-filter: drop-shadow(0px 7px 5px #222);
  filter: drop-shadow(0px 7px 5px #222);
  transition: ease-in-out 0.2s;
  height: 128px;
  width: 128px;
}

.PokedexItem-item:hover .PokedexItem-img {
  transform: scale(1.2);
}

.PokedexItem-title {
  margin: 20px 0 10px 0;
  transition: ease-in-out 0.2s;
}

.PokedexItem-item:hover .PokedexItem-title {
  color: red;
}

.PokedexItem-name {
  text-transform: capitalize;
}

.PokedexItem-number {
  font-weight: 400;
}

.Pokemon {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.PokemonMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PokemonMain-img {
  width: 45%;
}

.PokemonMain-info {
  width: 45%;
}

.PokemonMain-types {
  display: flex;
  align-items: center;
}

.Pokedex-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pokedex-loading {
  width: 1rem;
  height: 1rem;
  margin: 2rem 0.3rem;
  background: #979fd0;
  border-radius: 50%;
  animation: 0.9s bounce infinite alternate;
}

.Pokedex-loading:nth-child(2) {
  animation-delay: 0.3s;
}

.Pokedex-loading:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}

.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Poké Styles */
.pokeball {
  position: relative;
  width: 200px;
  height: 200px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset -10px 10px 0 10px #ccc;
  animation: fall 0.25s ease-in-out,
    shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}
.pokeball::before,
.pokeball::after {
  content: '';
  position: absolute;
}
.pokeball::before {
  background: #bd3736;
  width: 100%;
  height: 50%;
}
.pokeball::after {
  top: calc(50% - 10px);
  width: 100%;
  height: 20px;
  background: #000;
}
.pokeball__button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: #7f8c8d;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 0 0 10px black;
  animation: blink 0.5s alternate infinite;
}

@keyframes blink {
  from {
    background: #eee;
  }
  to {
    background: #bd3736;
  }
}
@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}
@keyframes fall {
  0% {
    top: -200px;
  }
  60% {
    top: 0;
  }
  80% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}
