.Login {
  width: 100%;
  padding-top: 25vh;
}

.Login-alert {
  width: 80%;
}

.Login-alert .Alert .Alert-alert {
  height: unset;
  margin: 0;
  margin-bottom: 10px;
  padding: 7.5px 15px 7.5px 12px;
  font-size: 0.8rem;
}

.Login-group {
  width: 80%;
  min-width: 288px;
  max-width: 400px;
  height: 50vh;
  min-height: 320px;
  max-height: 333px;
  margin: 0 auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Login-group > h4 {
  margin-bottom: 40px;
}

.Login-group > p {
  font-size: 0.5rem;
  margin-top: 20px;
}

.Login-group p:hover a {
  color: #bd3736;
  text-decoration: underline;
}

.Login-form {
  width: 80%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Login-form input {
  border: none;
  background-color: rgba(50, 50, 50, 0.1);
  padding: 12px;
}

.Login-form input:focus {
  outline: 2px solid #bd3736;
}

.Login-form > button {
  margin: 0;
}
